body {font-family: Arial, Helvetica, sans-serif;}

.vliegtuig-modal {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  position: fixed; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  width: 80%; /* Need a specific value to work */
  z-index: 100000; /* Sit on top */
}

.vliegtuig-close-button {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.vliegtuig-close-button:hover,
.vliegtuig-close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.vliegtuig-modal-content {
  vertical-align: top;
}

.vliegtuig-title {
  text-align: center;
  font-size: 200%;
}

.vliegtuig-eval-text {
  display: table-cell;
  vertical-align: middle;
}

.vliegtuig-icon-div {
  background-color: #ffffff;
  height: 100%;
}