body {font-family: Arial, Helvetica, sans-serif;}

/* Modal Container */
.vliegtuig-modal {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  display: table;
  position: fixed; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  width: 80%; /* Need a specific value to work */
  z-index: 100000; /* Sit on top */
}

/* Modal Content */
.vliegtuig-modal-content {
  display: table-cell;
  vertical-align: top;
}

/* The Close Button */
.vliegtuig-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  display: table-cell;
  vertical-align: top;
}
.vliegtuig-close:hover,
.vliegtuig-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
