body {font-family: Arial, Helvetica, sans-serif;}

#VLIEGTUIG_POPOVER {
  background-color: #f7f7f9;
  margin: auto;
  border: 2px solid #575757;
  border-radius: 5px;
  position: fixed; 
  left: 0; 
  right: 0; 
  top: 50px;
  margin-left: auto; 
  margin-right: auto;
  width: 80%; /* Need a specific value to work */
  z-index: 100000; /* Sit on top */
  font-family: "Verdana", sans-serif;
  max-height: 80vh;  

  animation: opac 0.3s
  overflow-x: auto;
  overflow-y: auto;
}

@keyframes opac {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

#VLIEGTUIG_POPOVER_CLOSE_BUTTON {
  position: absolute;
  top: 5px;
  right: 15px;
  color: #575757;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#VLIEGTUIG_POPOVER_CLOSE_BUTTON:hover,
#VLIEGTUIG_POPOVER_CLOSE_BUTTON:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#VLIEGTUIG_EVAL_ICON {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 5px;
}

#VLIEGTUIG_POPOVER_TITLE {
  font-size: 24px !important;
  margin: auto;
  padding-top: 20px;
}

#VLIEGTUIG_POPOVER_CONTENT {
  /*background-color: #ffffff;*/
  margin: 20px;
}

#VLIEGTUIG_EVAL_SHORTTEXT {
  font-size: 16px !important;
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 10px;
}

#VLIEGTUIG_EVAL_DATAFOUNDFOR_TEXT {
  max-height: 10vh;
}

#VLIEGTUIG_EVAL_DATAFOUNDFOR_PLEASE_CHECK_MESSAGE {
  font-size: 12px !important;  
}

#VLIEGTUIG_EVAL_PROPOSED_REPLY_TEXT {
  max-height: 30vh;
  font-size: 12px !important;
  font-style: italic;
}

#VLIEGTUIG_EVAL_INFOLINK_TEXT {
  font-size: 12px !important;
}

#VLIEGTUIG_EVAL_INFOLINK_DIV {
  margin-top: 10px;
  margin-bottom: 10px;
}

#VLIEGTUIG_SEND_REPLY_CONTROLS {
  margin-top: 10px;
}

#VLIEGTUIG_TWISC_LOGO_DIV {
  position: absolute;
  bottom: 5px;
  right: 5px;
  -webkit-filter: invert(1);
  filter: invert(1);
  opacity: 0.3;
}
#VLIEGTUIG_TWISC_LOGO_DIV:hover {
  transition: ease 0.5s;
  -webkit-filter: invert(1);
  filter: invert(1);
  opacity: 0.9;
}

.vliegtuig-widget-div {
  display: inline-block;
  position: relative;
}

.vliegtuig-checkbox {
  margin: 10px;
}

.vliegtuig-truncate {
  width: calc(100% - 80px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vliegtuig-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.vliegtuig-scroll {
  overflow-x: auto;
  overflow-y: auto;
  font-size: 12px !important;
  border: 2px solid #d0d0d0;
  padding-left: 5px;
  margin-top: 15px;
}

.vliegtuig-left-header {
  float: left;
  font-size: 16px !important;
  padding-right: 10px;
}
